flask==3.0.3
flask-cors==4.0.1
tensorflow==2.14.1
numpy==1.26.4
pandas==2.2.2
tifffile==2024.6.18
openmeteo-requests==1.2.0
keras==2.14.0
sentinelhub==3.10.2
matplotlib==3.9.0
retry-requests==2.0.0
requests==2.32.3
requests-cache==1.2.1
pipenv==24.1.1
